@font-face{font-family:quicksand;src:url(../fonts/Quicksand-Light.otf)}

.clearfix {
	clear: both;
}

/*s:padding & margin*/
.pd5 {padding: 5px;}
.pd7 {padding: 7px;}
.pd10 {padding: 10px;}
.pd15 {padding: 15px;}
.pd20 {padding: 20px;}
.pd25 {padding: 25px;}
.pd30 {padding: 30px;}

.pr5 {padding-right:5px;}
.pr10 {padding-right:10px;}
.pr15 {padding-right:15px;}
.pr20 {padding-right:20px;}
.pr25 {padding-right:25px;}
.pr30 {padding-right:30px;}

.pl5 {padding-left:5px;}
.pl10 {padding-left:10px;}
.pl15 {padding-left:15px;}
.pl20 {padding-left:20px;}
.pl25 {padding-left:25px;}
.pl30 {padding-left:30px;}
.pl32 {padding-left:32px;}

.pt0 {padding-top:0px !important;}
.pt5 {padding-top:5px;}
.pt10 { padding-top:10px;}
.pt15 { padding-top:15px;}
.pt20 { padding-top:20px;}
.pt25 { padding-top:25px;}
.pt30 { padding-top:30px;}

.pb0  { padding-bottom:0px !important; }
.pb5  { padding-bottom:5px !important; }
.pb8  { padding-bottom:8px !important; }
.pb10 { padding-bottom:10px;}
.pb15 { padding-bottom:15px;}
.pb20 { padding-bottom:20px;}
.pb25 { padding-bottom:25px;}
.pb30 { padding-bottom:30px;}

.m0 {margin: 0 !important;}
.p0 {padding: 0 !important;}

.m5 {margin: 5px;}
.m10 {margin: 10px;}
.m15 {margin: 15px;}
.m20 {margin: 20px;}
.m25 {margin: 25px;}
.m30 {margin: 30px;}

.mt-20 { margin-top:-20px; }
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px !important;}

.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr30{margin-right:30px !important;}

.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}

.mb0{margin-bottom:0px !important;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
/*e:padding & margin*/

body{
	margin: 0 auto;
	font-family: quicksand, helvetica, arial;
}

.share-button-container{display:inline-block; width:auto;}
.share-button{float:left;}
#margin-top-5{margin-top:5px;}

.box-menu{
	height: 85px;
	background-color: #ffffff;
	border-top: 1px solid #c7aa31;
	border-bottom: 1px solid #ddd;
	position: fixed;
	z-index: 200;
}
#logo-teks-header{
	font-family: quicksand, helvetica, arial;
	color: #c7aa31;
	padding-top: 27px;
	font-size: 28px;
}
.navbar-collapse ul li a{
	font-family: quicksand, helvetica, arial;
	color: #c7aa31;
	padding: 43px 15px 20px 15px;
}

.navbar-collapse ul li a:hover{
	background-color: white;
	border-bottom: 1px solid #c7aa31;
}
#menu-select{
	border-bottom: 1px solid #c7aa31;
}
.navbar-toggle{
	border: none;
	margin-top: 20px;
	padding: 10px 10px;
}
.navbar-toggle .icon-bar{
	display: block;
	width: 26px;
	height: 3px;
	background-color: #c7aa31;
	border-radius: 1px;
	border: 1px solid #c7aa31;
}
@media(max-width: 768px){
	.navbar-collapse ul li a:hover{
		background-color: #ddd;
		border-bottom: none;
	}.navbar-collapse{
		background-color: #fff;
		margin-top: 15px;
	}
	.navbar-nav{
		margin-top: -8px;
	}
	.navbar-collapse ul li a{
		padding: 15px;
	}
}
@media(max-width: 400px){
	#logo-teks-header{
		font-size: 20px;
	}
}
footer{
	background-color: #000;
	color: white;
	text-align: center;
	padding: 25px 0px 15px 0px;
}
footer a img{
	margin-left: 10px;
}
footer a{
	color: #fff;
}

footer a:hover {
	color: #555;
	text-decoration: none;
}

footer img{
	margin-top: -18px;
}

header{
	background: url(../img/bgbg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	text-align: center;
	padding: 180px 0px 180px 0px;
	height: -70px;
	margin-top: 85px
	
}

header .intro-text {

	background: #000000;
	opacity: 0.6;
	padding-bottom: 10px;
	margin: 15px auto;
	max-width: 900px;
	
}


header .intro-text h1{
	font-family: quicksand, helvetica, arial;
	color: #fff;
	font-size: 70px;
	opacity: 0.9;
}
header .intro-text h3{
	font-family: quicksand, helvetica, arial;
	color: #fff;
	font-size: 36px;
}
header a img{
	margin-top: 90px;
	margin-bottom: -40px;
}
.box-intro{
	background-color: #fff;
	padding: 10px;
}
 .bms-button{

	border: 10px;
	border-color: white;
	font-family: quicksand, helvetica, arial;
	border-radius: 3px;
	color: #c7aa31;
}

.intro-kiri {
	font-family: quicksand, helvetica, arial;
	color: #555;
	font-size: 14px;
	padding-bottom: 5px;
	border-bottom: solid 1px #ebebeb;
}

.intro-kiri_2 {
	font-family: quicksand, helvetica, arial;
	color: #555;
	font-size: 14px;
	padding-bottom: 5px;
}

.intro-kiri h1, .intro-kiri_2 h1 {
	font:30px quicksand, sans-serif;  color:#c7aa31; padding-bottom:6px; line-height:110%;
}

.intro-kiri p, .intro-kiri_2 p {
	color: #555;
	font-size: 18px;
}

.left-separator{
	border-top: 3px solid #c7aa31; margin-top: 30px;
}

.section-quote{
	background-color: #ebebeb;
	padding: 40px 0px;
	color: #c7aa31;
	font-family: quicksand, helvetica, arial;
	font-size: 24px;
	margin-top: 20px;
}
.download-button{
	border: none;
	font-family: quicksand, helvetica, arial;
	border-radius: 3px;
	color: #fff;
	background: #c7aa31;
	padding: 20px 45px;
	width: 300px;
	height: 65px;
}
.download-button:hover{
	background: #c7aa31;
	color: #fff;
	text-decoration: none;
}

.section-submit{
	text-align: center;
	padding: 60px 0px;
	font-size: 18px;
	color: #353535;
}
.section-submit p{
	font-size: 24px;
	font-family: quicksand, helvetica, arial;
}
.section-submit p span{
	color: #c7aa31;
	font-family: quicksand, helvetica, arial;
}
.section-submit .kirim{
	color: #ffffff;
	background-color: #c7aa31;
	width: 260px;
	height: 70px;
	font-size: 24px;
	font-family: quicksand, helvetica, arial;
	text-decoration: none;
	border: none;
	margin: 20px 0px 30px 0px;
	padding: 10px;
}
.section-submit a{
	margin-left: 10px;
}
#icon-share{
	margin-left: 20px;
}

.logo-partner{
	width:63%; margin-top:33px;
}
.popup-facebook:hover,.popup-twitter:hover{
	cursor:pointer;
}

#button-submit-tagline{
	margin-left: 30px;
}
@media(max-width:992px){
	.section-quote{
		text-align: center;
	}
	.section-quote button{
		margin-top: 20px;
	}
	.logo-partner{
		width: 90%;
	}
}

@media(max-width: 768px){
	header .intro-text h1{font-size: 85px;}
	header .intro-text h3{font-size: 26px;}
}

@media(max-width: 611px){
	#button-submit-tagline{
	margin-left: 0px;
}
}
@media(max-width: 570px){
	header .intro-text h1{font-size: 76px;}
}
@media(max-width:511px){
	header .intro-text h1{	
	font-size: 66px;
}
	header .intro-text h3{
		font-size: 24px;
}
}
@media(max-width: 470px){
	header .intro-text h1{
		font-size: 60px;
	}
	header a img{
		margin-top: 60px;
	}
	header .fadeInDown{width:27%;}
}

@media(max-width:511px){
	header .intro-text h1{	
	font-size: 50px;
}
	header .intro-text h3{
		font-size: 18px;
}
}

.bx-news-gal ul.list-gal{
	list-style:none;
	display:block;
	text-align:center;
	margin:150px auto 10px -40px;
}
.bx-news-gal ul.list-gal li{
	display:inline-block;
	width:350px;
	margin:10px;
	padding:5px;
}
.bx-news-gal ul.list-gal li img{
	width:100%;
		
}
.bx-news-gal ul.list-gal li .gal-date{
	color: #999;
	font-size: 13px;
	line-height:13px;
	margin:5px 0;
	padding:0;
	text-align:left;
}
.bx-news-gal ul.list-gal li h1{
	font-size:18px;
	line-height:18px;
	font-family:"Source Sans Pro",CartoGothic,Arial,Helvetica,sans-serif;
	margin:0 0 5px;
	padding:0;
	text-align:left;
}
.bx-news-gal ul.list-gal li h1 a{
	color: #c7aa31;
	display:inline-block;
	text-decoration: none;
	text-shadow: 0 1px 1px #999;	
}
.bx-news-gal ul.list-gal li h1 a:hover{
	text-decoration: underline;
}
.bx-news-gal ul.list-gal li .gal-desc{
	font-size:15px;
	line-height:15px;
	margin:0px 0 5px 0;
	padding-bottom:10px;
	text-align:left;
}

/* S: DETAIL */
.text_detail {  
	font-size:14px;
	line-height:150%; 
	color: #000;
}

.content_detail { 
	margin-bottom:15px;
	font:normal 20px quicksand, Helvetica, sans-serif;
}
.content_detail h3,
.content_foto h3 { font:16px quicksand,Helvetica,sans-serif; color:#333; }

.content_detail h2,
.content_foto h2 { font:17px quicksand,Helvetica,sans-serif; color:#E60000;  }

.content_detail h1,
.content_foto h1 { font:50px quicksand, sans-serif;  color:#3d3d3d; padding-bottom:6px; line-height:110%; }

.content_detail .author,
.content_foto .author { float:left; font:normal 12px quicksand, Helvetica, sans-serif; color: #777; padding-bottom:3px; }  

.content_detail .date,
.content_foto .date { float:left; margin-left:10px; padding-left:10px; border-left:1px solid #999; color: #777; font-size:12px; }

/* ------------ S:IMAGES ----------- */
/* landscape */
.pic_artikel {
	font-size:12px;
	color:#666; 
	margin:0 0 10px 0;
	padding:0 0 5px 0;
	width: 100%;
}
.pic_artikel img {
	display:block;
	padding-bottom:4px;
	width:100%;
}

/* portrait atau kotak tanpa margin bottom */
.pic_artikel_2 {
	font-size:12px;
	color:#666; 
	padding-bottom:5px;  
	float:left;
	width:350px;
	margin-right:15px;
}
.pic_artikel_2 img {
	display:block;
	padding-bottom:4px;
	width:100%;
}

/*rata kekanan*/
.pic_artikel_2.right {  
	float:right; 
	margin-left:15px;
} 

/* portrait atau kotak */
.pic_artikel_3 {
	font-size:12px;
	color:#666; 
	padding-bottom:5px; 
	margin-bottom:10px;
	float:left;
	margin-right:15px;
}
.pic_artikel_3 img {
	display:block;
	padding-bottom:4px;
	max-width:280px;
}
.pic_artikel_sisip { 
	margin-top:25px;
	margin-bottom:25px; 
}
.pic_artikel_sisip .pic {
	text-align:left;
	display:table-cell; 
	width:1px;  
	font-size:12px;
	color:#666; 
}
.pic_artikel_sisip .pic img {
	max-width:620px;
	display:block; 
	margin-bottom:5px;
}

.bx-foto-depan {
	width: 50%;
	padding: 5px;
	float: left;
	height: 172px !important;
}
/* ------------ E:IMAGES ----------- */

.welcome {
	text-align: center;
	margin-bottom: 70px;
	margin-top: 30px;
}

.welcome h1 { font:50px quicksand, sans-serif;  color:#c7aa31; padding-bottom:6px; line-height:110%; }

.welcome .desc { font:24px quicksand, sans-serif;  color:#555; padding-bottom:6px;}